/** 
 * @author: zhazhjie 
 * @email: zhazhjie@vip.qq.com
 * @date: 2018-06-11 11:26:18 
 * @version: 1.0 
 */
 :root{
	--blue: #409eff;
	--bg: rgb(238, 242, 247);
	--red: #ff3d3d;
	--hover: #F4F5FF;
	--active: #F1F6F7;
	--border: #dcdfe6;
	--green: #25b17b;
	--orange: #ffaf3d;
	--shadow: rgba(0, 33, 93, .3);
	--gray: #999;
	--box: {
		background-color: #fff;
		border-radius: 0.05rem;
		padding: 0.15rem;
		border: 1px solid #dcdfe6;
	};
	--middle: {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	};
	--flex-center: {
		display: flex;
	    flex-direction: column;
	    justify-content: center;
	    align-items: center;
	};
 }
